
.button{

     -fx-background-color:  #2596be;
}
.button:hover{

     -fx-background-color:#FFFFFF;
     -fx-text-fill:#2596be;
 }
.button:focused{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 5,0,0,0);
    -fx-background-color:#FFFFFF;
    -fx-text-fill:#2596be;
}

#btn_prBill{
       -fx-background-color:#DDDDDD;
}

#btn_prBill:hover{
        -fx-background-color:linear-gradient(to top right, #FF99FF, #9999FF);
}
#btn_update{
       -fx-background-color:#DDDDDD;
}
#btn_update:hover{
       -fx-background-color:linear-gradient(to top right, #FF99FF, #9999FF);
}

//Customer
#btn_add_user{
     -fx-background-color:#00FF00;
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 5,0,0,0);
}


//User Profile
#btn_edit{
     -fx-background-color:#00FF00;
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 5,0,0,0);
}
