
.button{

     -fx-background-color:  #2596be;
}
.button:hover{

     -fx-background-color:#FFFFFF;
     -fx-text-fill:#2596be;
 }
.button:focused{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 5,0,0,0);
    -fx-background-color:#FFFFFF;
    -fx-text-fill:#2596be;
}

#btn_prBill{
       -fx-background-color:#DDDDDD;
}

#btn_prBill:hover{
        -fx-background-color:linear-gradient(to top right, #FF99FF, #9999FF);
}
#btn_update{
       -fx-background-color:#DDDDDD;
}
#btn_update:hover{
       -fx-background-color:linear-gradient(to top right, #FF99FF, #9999FF);
}

//Customer
#btn_add_user{
     -fx-background-color:#00FF00;
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 5,0,0,0);
}

//User Profile
#btn_edit{
     -fx-background-color:#00FF00;
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 5,0,0,0);
}
#change_pass{
     -fx-font-size  : 19px;
     -fx-background-color:  #FFFFFF;
}
#change_pass:hover{
    -fx-font-size  : 20px;
    -fx-text-fill:#2596be;
    -fx-background-color:#FFFFFF;
}

//Add Product
#btn_save{
 -fx-background-color:#DDDDDD;
}

#btn_save:hover{
  -fx-background-color:linear-gradient(to top right, #FF99FF, #9999FF);
}

#btn_addThumnail{
     -fx-font-size  : 20px;
     -fx-background-color:  #FFFFFF;
}

#btn_addThumnail:hover{
    -fx-font-size  : 21px;
    -fx-text-fill:#2596be;
}
//Làm đẹp choiceBox
.choice-box {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #dddddd;
    -fx-border-radius: 3;
    -fx-font-size: 16;
    -fx-padding: 5 30 5 10;
    -fx-background-insets: 0;
}

.choice-box:hover {
    -fx-background-color: #7dd1f0;
}

.choice-box .arrow {
    -fx-background-color: black;
}

.choice-box .arrow-button {
    -fx-background-color: #f5f5f5;
    -fx-background-insets: 0;
    -fx-padding: 0 10 0 0;
    -fx-background-radius: 0;
}
//test
.button,
.toggle-button,
.radio-button > .radio,
.check-box > .box,
.menu-button,
.choice-box,
.color-picker.split-button > .color-picker-label,
.combo-box-base,
.combo-box-base:editable > .arrow-button {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}


